body {
  font-family: "ubuntu", sans-serif;
  background: #f9fadd;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.img-responsive {
  width: 100%;
  display: block;
  border-radius: 0;
}

.grid-2-colums {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 1fr 2fr;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.instagram-embeds {
  margin: 30px 0;
}

.card {
  background: white;
  margin: 30px 0;
  border-style: solid;
  border-color: #a7a5ab;
  border-radius: 15px;
}

.card-header.grid {
  grid-gap: 0;
}

.card-header .img-responsive {
  border-radius: 15px 0px 15px 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: #f9fadd;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #1a0089;
  transition: 100ms ease-in-out;
}

.btn:hover {
  background: #ff5333;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 70px 100px;
}

section.secondary {
  background: #f9fadd;
}

header {
  background-image: linear-gradient(
      rgba(81, 81, 81, 0.4),
      rgba(74, 74, 74, 0.6)
    ),
    url("../images/sthlm_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  margin: 30px 0;
  color: #f9fadd;
  text-shadow: 1px 1px 3px #ff5333;
}

header h2 {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.5;
  margin: 0;
  font-style: italic;
  color: #f9fadd;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #f9fadd;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: #1a0089;
  transition: 100ms ease-in-out;
}

header a:hover {
  background: #ff5333;
}

a {
  border-radius: 5px;
  text-decoration: none;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #15055e;
  opacity: 0.5;
  font-style: italic;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #ff5333;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

footer {
  color: #f9fadd;
  background-color: #1a0089;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 28px;
  }

  header h3 {
    font-size: 12px;
  }

  main h3 {
    font-size: 32px;
  }

  main h2 {
    font-size: 14px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
